
<nav class="navbar navbar-expand-sm fixed-top sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="home"><img src="./assets/images/logo.png" height=30 width=30></a>
    <button class="navbar-toggler" type="button" 
      data-toggle="collapse" data-target=".navbar-collapse"      
      aria-label="Toggle navigation">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
      <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLink]="homeLink" routerLinkActive="active">
          <a [routerLink]="homeLink" routerLinkActive="active" class="nav-link" 
          data-toggle="collapse" data-target=".navbar-collapse.show">
            <i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="nav-item" [routerLink]="aboutLink" routerLinkActive="active">
          <a [routerLink]="aboutLink" routerLinkActive="active" class="nav-link" 
          data-toggle="collapse" data-target=".navbar-collapse.show">
            <i class="fa fa-info" aria-hidden="true"></i> About</a>
        </li>
        <li class="nav-item" [routerLink]="competitionsLink" routerLinkActive="active">
          <a [routerLink]="competitionsLink" routerLinkActive="active"  class="nav-link" 
          data-toggle="collapse" data-target=".navbar-collapse.show">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Competitions
          </a>
        </li>
        <li class="nav-item" [routerLink]="clubsLink" routerLinkActive="active">
          <a [routerLink]="clubsLink" routerLinkActive="active" class="nav-link" 
          data-toggle="collapse" data-target=".navbar-collapse.show">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Clubs
          </a>
        </li>
        <li class="nav-item" [routerLink]="sponsorsLink" routerLinkActive="active">
          <a [routerLink]="sponsorsLink" routerLinkActive="active" class="nav-link" 
          data-toggle="collapse" data-target=".navbar-collapse.show">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Sponsors
          </a>
        </li>
        <li class="nav-item" [routerLink]="contactLink" routerLinkActive="active">
          <a [routerLink]="contactLink" routerLinkActive="active" class="nav-link" 
          data-toggle="collapse" data-target=".navbar-collapse.show">
            <i class="fa fa-envelope-o"></i> Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item" routerLinkActive="active" *ngIf="!(loggedIn | async)">
          <a (click)="logIn()" class="nav-link" routerLinkActive="active" 
          data-toggle="collapse" data-target=".navbar-collapse.show">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!(loggedIn | async)">
            <a (click)="logInFacebook()" class="nav-link" routerLinkActive="active" 
            data-toggle="collapse" data-target=".navbar-collapse.show">
              <i class="fa fa-sign-in" aria-hidden="true"></i> Login via Facebook</a>
          </li>
          <li class="nav-item dropdown" *ngIf="(loggedIn | async)">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" 
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
             [ngClass]="isProfileMenuActive()">
              {{username | async}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="nav-item dropdown-item" *ngIf="(loggedIn | async)"
                  data-toggle="collapse" data-target=".navbar-collapse.show"
                  routerLinkActive="active">
              <a [routerLink]="editMyProfileLink" routerLinkActive="active">
              My Profile</a></div>
            <div class="nav-item dropdown-item" *ngIf="(loggedIn | async) && (clubid | async) !== undefined"
                  data-toggle="collapse" data-target=".navbar-collapse.show"
                  routerLinkActive="active">
              <a [routerLink]="editClubProfileLink" routerLinkActive="active">
              Clubdetails</a></div>
            <div class="nav-item dropdown-item" *ngIf="(loggedIn | async) && (sponsorid | async) !== undefined"
                  data-toggle="collapse" data-target=".navbar-collapse.show"
                  routerLinkActive="active">
              <a [routerLink]="editSponsorProfileLink" routerLinkActive="active">
              Sponsordetails</a></div>
          </div>
        </li>
        <li class="nav-item" *ngIf="(loggedIn | async)">
          <a (click)="logOut()" class="nav-link" 
          data-toggle="collapse" data-target=".navbar-collapse.show">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="jumbotron hidden-sm-down">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12 col-sm-8">
        <h1>Gym Competition</h1>
        <em>We bring Clubs and Sponsors together.</em>
        <div *ngIf="activeLocation() === competitionsLink">
          <h2>Watch, what Competitions happens next</h2>
        </div>
        <div *ngIf="activeLocation() === clubsLink">
          <h2>Explore our rich list of engaged clubs</h2>
        </div>
        <div *ngIf="activeLocation() === sponsorsLink">
          <h2>Explore our rich list of supporting sponsors</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 ">
        <img src="./assets/images/logo.png" class="horizontal-center">
        <br/><br/>
        <button *ngIf="activeLocation() === competitionsLink && (clubid | async) !== undefined" type="button" class="horizontal-center btn btn-success" [routerLink]="createCompetitionLink">
          Plan new Competition
        </button>
        <button *ngIf="activeLocation() === clubsLink && (clubid | async) === undefined" type="button" class="horizontal-center btn btn-success" [routerLink]="registerClubLink">
          Register as new Club
        </button>
        <button *ngIf="activeLocation() === sponsorsLink && (sponsorid | async) === undefined" type="button" class="horizontal-center btn btn-success" [routerLink]="registerSponsorLink">
          Register as new Sponsor
        </button>
      </div>
    </div>
  </div>
</header>