<footer class="footer row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a [routerLink]="homeLink">Home</a></li>
                    <li><a [routerLink]="aboutLink">About</a></li>
                    <li><a [routerLink]="sponsorsLink">Sponsors</a></li>
                    <li><a [routerLink]="contactLink">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-5">
                <h5>Our Address</h5>
                <address>
              Gym Competition<br/>
              c/o R. Seidel<br/>
              Gärtnerstrasse 122<br/>
              CH-4057 Basel<br/>
              <i class="fa fa-phone"></i>&nbsp;: +41 61 632 04 65<br>
              <i class="fa fa-envelope"></i>&nbsp;:
                     <a href="mailto:gym@competition.net">
                     gym@competition.net</a>
                </address>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h5>Share</h5>
                <div class="nav">
                    <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/share?url={{baseRef + '/' + homeLink}}"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/sharer.php?u={{baseRef + '/' + homeLink}}"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{baseRef + '/' + homeLink}}"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/share?url={{baseRef + '/' + homeLink}}"><i class="fa fa-twitter"></i></a>
                    <!--a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a-->
                    <!--a class="btn btn-social-icon" href="mailto:gym@competition.net"><i class="fa fa-envelope-o"></i></a-->
                </div>
            </div>
            <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright {{getYear()}} Gym Competition</p>
            </div>
        </div>
    </div>
</footer>