<div class="container">
  <div class="row row-content">
      <div class="col-12">
        <button class="btn btn-xs btn-primary pull-right"
            type="button" [routerLink]="'/competitions'">
            Back to competitions
        </button>
        <h3 *ngIf="!competition">{{loadingmessage}}</h3>
        <gymapp-competition-media *ngIf="competition" [competition]="competition | async" class="media" ></gymapp-competition-media>
      </div>
      <div class="col-12">
        <h3>Is supported by the following Sponsors</h3>
        <gymapp-sponsor-list [supportingCompetition]="competition | async"></gymapp-sponsor-list>
      </div>
    </div>
</div>
