<div class="container">
  <div *ngIf="sponsor | async" class="row row-content">
      <div class="col-12">
        <button class="btn btn-xs btn-primary pull-right"
            type="button" [routerLink]="'/sponsors'">
            Back to sponsors
        </button>
        <h3 *ngIf="!sponsor">{{loadingmessage}}</h3>
        <gymapp-sponsor-media *ngIf="sponsor" [sponsor]="sponsor | async" class="media" ></gymapp-sponsor-media>
      </div>
      <div class="col-12">
        <h3>Potentially Sponsor of the following Competitions</h3>
      </div>
      <div class="col-12">
        <gymapp-competition-list [supportingSponsor]="sponsor | async"></gymapp-competition-list>
      </div>
    </div>
</div>
