<div class="container">
  <form class="row row-content" (ngSubmit)="doSave(form.value)" novalidate>
    <gymapp-club-form [form]="form" class="col-12"></gymapp-club-form>
  </form>
  <!--div class="row row-content">
    <div class="col-1">col-1</div>
    <div class="col-1">col-2</div>
    <div class="col-1">col-3</div>
    <div class="col-1">col-4</div>
    <div class="col-1">col-5</div>
    <div class="col-1">col-6</div>
    <div class="col-1">col-7</div>
    <div class="col-1">col-8</div>
    <div class="col-1">col-9</div>
    <div class="col-1">col-10</div>
    <div class="col-1">col-11</div>
    <div class="col-1">col-12</div>
  </div-->
</div>