<h3 *ngIf="(isCompetitionsloading | async)">{{message}}</h3>
<ul  *ngIf="!(isCompetitionsloading | async)" class="nav nav-tabs" role="tablist">
  <li class="nav-item" *ngFor="let kind of kindItems" role="presentation"
  [ngClass]="{active:isSelected(kind)}">
  
  <a *ngIf="getKindCount(kind) > 0" class="nav-link" (click)="select(kind)"
  aria-controls="kind"
  role="tab"><span class="badge badge-pill badge-default pull-right">{{getKindCount(kind)}}</span>{{kind}}</a></li>
</ul>
<div class="tab-content" *ngIf="!(isCompetitionsloading | async)">
  <ul class="list-unstyled">
    <gymapp-competition-media class="media bottom-separator" *ngFor="let competition of items" 
      [competition] = "competition"
      [editable]='isEditable(competition)'
      (onEdit)='onEdit(competition)'
      (onDelete)='onDelete(competition)'>
    </gymapp-competition-media>
  </ul>
</div>
