<div class="container">
  <form class="row-content" (ngSubmit)="doSave(form.value)" novalidate>
    <div class="row" >
      <div class="col-12 col-sm-6">
        <h2>Register as new Club</h2>
      </div>
    </div>
    <div class="row" >
      <div class="col-12 col-sm-6">
        <h3>User</h3>
      </div>
    </div>
    <gymapp-register-user-form  [form]="user" class="col-12"></gymapp-register-user-form>
    <gymapp-club-form [form]="clubdetails" class="col-12"></gymapp-club-form>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-default btn-sm pull-right" [routerLink]="clubsLink">Cancel</button>
        <button type="submit" class="btn btn-info btn-sm pull-right" [disabled]="form.invalid">Register</button>
      </div>
    </div>
  </form>
</div>
