<div class="container">
  <div class="row row-content">
      <div class="col-12">
        <button class="btn btn-xs btn-primary pull-right"
            type="button" [routerLink]="clubsLink">
            Back to clubs
        </button>
        <h3 *ngIf="!club">{{loadingmessage}}</h3>
        <gymapp-club-media *ngIf="club" [club]="club | async" class="media" ></gymapp-club-media>
      </div>
      <div class="col-12">
        <button *ngIf="isClubUser" [routerLink]="'/competitions/new/' + (club | async)?._id"
                class="btn btn-success pull-right"
                type="button">
          Plan a new Competition
        </button>
        <h3>Carries the following Competitions</h3>
      </div>
      <div class="col-12">
        <gymapp-competition-list [supportingClub]="club | async"></gymapp-competition-list>
      </div>
    </div>
</div>
