<div class="container">

  <div class="row row-content bottom-separator" >
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <h3 align=center>Next Competition</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div *ngIf="(isFeaturedCompetitionloading | async)">
        <h3>featured competition loading ...</h3>
      </div>
      <gymapp-competition-media [competition] = "competition | async" class="media" *ngIf="!(isFeaturedCompetitionloading | async)">
      </gymapp-competition-media>
    </div>
  </div>

  <div class="row row-content bottom-separator">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <h3 align=center>Our Club of the month</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div *ngIf="(isFeaturedClubloading | async)">
        <h3>featured club loading ...</h3>
      </div>
      <gymapp-club-media [club] = "club | async" class="media" *ngIf="!(isFeaturedClubloading | async)">
      </gymapp-club-media>
    </div>
  </div>


  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <h3 align=center>This Month's Sponsor</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div *ngIf="(isFeaturedSponsorloading | async)">
        <h3>featured sponsor loading ...</h3>
      </div>
      <gymapp-sponsor-media [sponsor] = "sponsor | async" class="media" *ngIf="!(isFeaturedSponsorloading | async)">
      </gymapp-sponsor-media>
    </div>
  </div>
</div>