<div class="container">
  <form class="row-content" (ngSubmit)="doSave()" novalidate>
    <div class="row" >
      <div class="col-12">
        <h2>Edit Competition</h2>
      </div>
    </div>
    <gymapp-competition-form [form]="form" [competition]="competition | async" [regactions]="regactions | async"></gymapp-competition-form>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-default btn-sm pull-right" [routerLink]="competitionsLink">Cancel</button>
        <button type="submit" class="btn btn-info btn-sm pull-right" [disabled]="form.invalid">Save</button>
      </div>
    </div>
  </form>
</div>